{% extends 'base.html.twig' %}

{% block title %}Editar Noticia{% endblock %}

{% block body %}
<div class="container">
    <h1>Editar Noticia</h1>
        {{ include('noticia/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="d-flex justify-content-between align-items-center mt-3">
            <a href="{{ path('app_noticia_index') }}" class="btn btn-secondary mx-5">Volver a la lista</a>
            {{ include('noticia/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}