{% extends 'base.html.twig' %}

{% block title %}Edit Noticia{% endblock %}

{% block body %}
    <h1>Editar Noticia</h1>
    <div class="container">

    {{ include('noticia/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_noticia_index') }}">Volver</a>

    {{ include('noticia/_delete_form.html.twig') }}
    </div>
{% endblock %}
