{% extends 'base.html.twig' %}

{% block title %}New Noticia{% endblock %}

{% block body %}
    <div class="container">
    <h1>Crear Noticia</h1>

    {{ include('noticia/_form.html.twig') }}

    <a href="{{ path('app_noticia_index') }}">Volver</a>
    </div>
{% endblock %}
