<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gracias por contactarnos</title>
</head>
<body>
    <h1>Hola {{ nombre }},</h1>
    <p>
        Gracias por comunicarte con nosotros. Hemos recibido tu mensaje y te responderemos a la brevedad.
    </p>
    <p>¡Saludos cordiales!<br>Equipo de Fundación Santa Catalina</p>
</body>
</html>