/*al cargar la img grande
#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #1e1e1e; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9); /* semitransparente */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-section {
    background-image: url('https://fundacionstacatalina.wiz.com.ar/catalina/public/img/header-bg-webp.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo quede fijo */
    height: 600px;
    color: rgb(224, 146, 57); /* Aseg칰rate de que el texto sea visible sobre el fondo */
}

@media (max-width: 768px) {
    .hero-section {
        background-image: url('https://fundacionstacatalina.wiz.com.ar/catalina/public/img/bg-nuevo.webp');
        background-attachment: fixed; /* Este estilo no se suele soportar bien en m칩viles */
        .carousel-caption h4 {
            font-size: 1.2rem; /* Texto m치s peque침o para m칩viles */
        }
        .carousel-caption h5 {
            font-size: 1rem; /* Texto m치s peque침o para m칩viles */
        }
        .carousel-caption {
            padding: 5px 10px; /* Reducir el padding en m칩viles */
            bottom: 10%; /* Mueve el texto un poco m치s arriba */
        }
    
    }

    .hero-section .container {
        padding-top: 100px; /* Ajusta el valor seg칰n lo que necesites */
    }

    .hero-section h1, 
    .hero-section p, 
    .hero-section a {
        margin-top: 50px; /* Ajusta el valor para moverlo seg칰n lo necesites */
    }

    .hero-section h1 {
        font-size: 20px; /* Reduce el tama침o de fuente para t칤tulos */
        color: #f0f1d6;
    }

    .hero-section h4, 
    .hero-section h5 {
        font-size: 12px; /* Reduce el tama침o de fuente para subt칤tulos */
        color: #f5fab6;
    }

    .hero-section p {
        font-size: 10px; /* Reduce el tama침o para los p치rrafos */
    }

    .hero-section a {
        font-size: 10px; /* Ajusta el tama침o para los enlaces */
    }
    
}

.hero-section .container {
    padding-top: 100px; /* Ajusta el valor seg칰n lo que necesites */
    
}
.hero-section h1, 
.hero-section p, 
.hero-section a {
    margin-top: 50px; /* Ajusta el valor para moverlo seg칰n lo necesites */
   
}
.hero-section h1 {
    color: #f7ff86;
    /* text-shadow: 3px 2px 6px rgba(243, 231, 231, 0.8);  */
}
.hero-section h4,h5 {
    color: #f5fab6;
    /* text-shadow: 3px 2px 6px rgba(243, 231, 231, 0.8);  */
}


/* carrusel */
.carousel-item img {
    width: 100%; /* Hace que las im치genes siempre cubran todo el ancho del contenedor */
    height: 550px; /* Ajusta la altura a un tama침o fijo */
    object-fit: cover; /* Hace que la imagen cubra completamente el 치rea sin distorsionarse */
    margin-bottom: 30px;
    margin-top: 10px;
}


.carousel-caption {
    color: #fff; /* Texto blanco */
    text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra negra suave */
    font-weight: bold;
    font-size: 2.5rem; /* Tama침o adaptable */
}

@media (min-width: 768px) {
    .carousel-caption {
        font-size: 2rem; 
    }
}

/* color para algunas secciones*/
.bg-tone-light {
    background-color: #f8f9fa; /* Tono claro */
    padding: 2rem 0;
    border-radius: 8px;
}

.bg-tone-dark {
    background-color: #dee2e6; /* Tono ligeramente m치s oscuro */
    padding: 2rem 0;
    border-radius: 8px;
}

/* cards */
.custom-card {
    /* background: linear-gradient(135deg, #f6f6f6, #e2e8f0); */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    border-radius: 10px;
}

/* .card:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
} */


.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(135deg, #e3edfd, #fafafa);  */
    /* color: #fff; */
}

.custom-card:hover .card-title,
.custom-card:hover .card-text {
    color: #fff;
}

.custom-card .card-body {
    position: relative;
    padding: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}

/* team*/
.team-member-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member-card h5 {
    color: #333; /* Color deseado */
    text-shadow: none; /* Anula cualquier sombra previa */
}

/* .team-member-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
} */

.team-image {
    width: 45%;
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.team-image:hover {
    transform: scale(1.1);
}

/* mapa */
#ubicacion h2, #ubicacion h4 {
    margin-bottom: 20px; /* Espacio debajo de las cabeceras */
   
}

#ubicacion h4 {
    font-size: 1.5rem;
    color: #333; /* Color de texto m치s oscuro para un mejor contraste */
}

.map-container iframe {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#ubicacion {
    padding: 60px 0;
}

#ubicacion .btn-outline-primary {
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}

#ubicacion .btn-outline-primary i {
    font-size: 1.4rem;
}

@media (max-width: 767px) {
    /* En dispositivos m칩viles ajustamos el tama침o del mapa */
    .map-container iframe {
        max-height: 300px;
    }
}

 /* bton ir arriba */
#scrollTopButton {
    display: none; /* Oculto inicialmente */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#scrollTopButton:hover {
    background-color: #0056b3; 
}

/* botn ws */
.flotar {
    position: fixed;
    bottom: 20px; /* Ajusta la posici칩n desde abajo */
    left: 20px; /* Ajusta la posici칩n desde la derecha */
    background-color: #25d366; /* Color de fondo de WhatsApp */
    border-radius: 50%; /* Redondea el borde para que sea circular */
    padding: 15px; /* Tama침o del 칤cono */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Animaci칩n suave */
}

.flotar:hover {
    transform: scale(1.1); /* Efecto de aumento de tama침o al pasar el cursor */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Efecto de sombra al hacer hover */
}

.flotar i {
    color: white; 
}

.mb-15 {
    margin-bottom: 15px;
}

/* mision */
#mision-image {
    width: 100px;
    height: 150px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#mision-image:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.custom-hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 123, 255, 0), rgba(0, 123, 255, 1), rgba(0, 123, 255, 0));
   
    position: relative;
}

.custom-hr::before {
    content: '\2022\2022\2022';
    font-size: 1.5rem;
    color: #007bff;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* Fondo blanco para destacarse */
    padding: 0 0.5rem;
}


/* seccion videos  */

.dark-bg {
    background-color: #333; /* Gris oscuro */
    color: white; /* Para asegurarte de que el texto se vea claro en un fondo oscuro */
}


.btn-donar {
  position: fixed;
  bottom: 90px;
  left: 20px;
  z-index: 50;   
  font-size: 1.1rem;
}


@media (max-width: 576px) {
    .btn-donar {
        bottom: 70px;
    }

    .flotar {
        bottom: 15px;
    }
}




.banner-navidad {
    position: relative;
    z-index: 100; /* 游녣 por encima de botones */
    background:#8b0000;color:white;
}