.hero-section {
    background-image: url('https://fundacionstacatalina.wiz.com.ar/catalina/public/img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo quede fijo */
    height: 600px;
    color: rgb(224, 146, 57); /* Asegúrate de que el texto sea visible sobre el fondo */
}

@media (max-width: 768px) {
    .hero-section {
        background-attachment: scroll; /* No fija el fondo en dispositivos móviles */
    }
}

.hero-section .container {
    padding-top: 100px; /* Ajusta el valor según lo que necesites */
    
}
.hero-section h1, 
.hero-section p, 
.hero-section a {
    margin-top: 50px; /* Ajusta el valor para moverlo según lo necesites */
   
}
.hero-section h1 {
    color: #f7ff86;
    /* text-shadow: 3px 2px 6px rgba(243, 231, 231, 0.8);  */
}
.hero-section h4,h5 {
    color: #f5fab6;
    /* text-shadow: 3px 2px 6px rgba(243, 231, 231, 0.8);  */
}

/* carrusel */
.carousel-item img {
    width: 100%; /* Hace que las imágenes siempre cubran todo el ancho del contenedor */
    height: 450px; /* Ajusta la altura a un tamaño fijo */
    object-fit: cover; /* Hace que la imagen cubra completamente el área sin distorsionarse */
    margin-bottom: 30px;
    margin-top: 10px;
}


.carousel-caption {
    color: #fff; /* Texto blanco */
    text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra negra suave */
    font-weight: bold;
    font-size: 2.5rem; /* Tamaño adaptable */
}

@media (min-width: 768px) {
    .carousel-caption {
        font-size: 2rem; 
    }
}

/* color para algunas secciones*/
.bg-tone-light {
    background-color: #f8f9fa; /* Tono claro */
    padding: 2rem 0;
    border-radius: 8px;
}

.bg-tone-dark {
    background-color: #dee2e6; /* Tono ligeramente más oscuro */
    padding: 2rem 0;
    border-radius: 8px;
}

/* cards */
.custom-card {
    /* background: linear-gradient(135deg, #f6f6f6, #e2e8f0); */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    border-radius: 10px;
}

/* .card:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
} */


.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(135deg, #e3edfd, #fafafa);  */
    /* color: #fff; */
}

.custom-card:hover .card-title,
.custom-card:hover .card-text {
    color: #fff;
}

.custom-card .card-body {
    position: relative;
    padding: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}

/* team*/
.team-member-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member-card h5 {
    color: #333; /* Color deseado */
    text-shadow: none; /* Anula cualquier sombra previa */
}

/* .team-member-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
} */

.team-image {
    width: 45%;
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.team-image:hover {
    transform: scale(1.1);
}

/* mapa */
#ubicacion h2, #ubicacion h4 {
    margin-bottom: 20px; /* Espacio debajo de las cabeceras */
   
}

#ubicacion h4 {
    font-size: 1.5rem;
    color: #333; /* Color de texto más oscuro para un mejor contraste */
}

.map-container iframe {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#ubicacion {
    padding: 60px 0;
}

#ubicacion .btn-outline-primary {
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}

#ubicacion .btn-outline-primary i {
    font-size: 1.4rem;
}

@media (max-width: 767px) {
    /* En dispositivos móviles ajustamos el tamaño del mapa */
    .map-container iframe {
        max-height: 300px;
    }
}

 /* bton ir arriba */
#scrollTopButton {
    display: none; /* Oculto inicialmente */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#scrollTopButton:hover {
    background-color: #0056b3; 
}

/* botn ws */
.flotar {
    position: fixed;
    bottom: 20px; /* Ajusta la posición desde abajo */
    left: 20px; /* Ajusta la posición desde la derecha */
    background-color: #25d366; /* Color de fondo de WhatsApp */
    border-radius: 50%; /* Redondea el borde para que sea circular */
    padding: 15px; /* Tamaño del ícono */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.flotar:hover {
    transform: scale(1.1); /* Efecto de aumento de tamaño al pasar el cursor */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Efecto de sombra al hacer hover */
}

.flotar i {
    color: white; 
}

.mb-15 {
    margin-bottom: 15px;
}

/* mision */
#mision-image {
    width: 100px;
    height: 150px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#mision-image:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.custom-hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 123, 255, 0), rgba(0, 123, 255, 1), rgba(0, 123, 255, 0));
   
    position: relative;
}

.custom-hr::before {
    content: '\2022\2022\2022';
    font-size: 1.5rem;
    color: #007bff;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* Fondo blanco para destacarse */
    padding: 0 0.5rem;
}
