{% extends 'base.html.twig' %}

{% block title %}Equipo{% endblock %}

{% block body %}
<div class="container">
    <h1>Crear nuevo</h1>

    {{ include('equipo/_form.html.twig') }}
</div>
    <a href="{{ path('app_equipo_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/equipo.js') }}"></script>
{% endblock %}
