{% extends 'base.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <h1>Editar Video</h1>
    <div class="container">

    {{ include('video/_form.html.twig', {'button_label': 'Update'}) }}
 <!-- Contenedor con diseño en línea -->
        <div class="d-flex justify-content-between align-items-center mt-3">
    <a href="{{ path('app_video_index') }}"class="btn btn-secondary mx-5">Volver a la lista</a>

    {{ include('video/_delete_form.html.twig') }}
     </div>
    </div>
{% endblock %}
