{% extends 'base.html.twig' %}

{% block title %}Edit Ley{% endblock %}

{% block body %}
    <h1>Edit Ley</h1>

    {{ include('ley/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ley_index') }}">back to list</a>

    {{ include('ley/_delete_form.html.twig') }}
{% endblock %}
